.container_searchList
{
    background-color:rgb(255, 251, 251);
    width:30%;
    border:0.5px solid rgb(81, 80, 80);
    color:rgb(49, 48, 48);
    position:absolute;
    left:8.5rem;
    top: 4rem;
    height: 40vh;
    z-index: 91;
   
}
.titleItem
{
    margin: 0;
    padding: 0.5rem;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:10px;
}
